<div class="ui right aligned basic segment">
  <div class="ui action input">
    <%= form_with url: messages_path, method: :get do |form| %>
      <div class="ui input">
        <%= form.text_field :phone_number, value: params[:phone_number] %>
      </div>

      <%= form.submit 'Search', class: 'ui button' %>
    <% end %>

    <%= link_to 'Clear Search', messages_path, class: 'ui secondary button' %>
  </div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Message ID</th>
      <th>Text</th>
      <th>Phone Number</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr id="messages-<%=message.id%>">
        <td class="t-id"><%= message.id %></td>
        <td class="t-text"><%= message.text %></td>
        <td class="t-phone_number"><%= message.phone_number %></td>
        <td class="t-status"><%= message.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>